:root {
  --pink: LavenderBlush;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--pink);
}

.circle {
  width: 25px;
  height: 25px;
  background-color: red;
  border-radius: 50%;
}
