:root {
  --pink: LavenderBlush;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--pink);
  font-family: "Pixelify Sans", sans-serif;
  margin: 0;
  height: 100vh;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.circle {
  width: 25px;
  height: 25px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}

.start {
  z-index: 1;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 11em;
  font-weight: 500;
}
